<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,900;1,300;1,400;1,500;1,900&display=swap"
            rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/anim-class.css">
    <link rel="stylesheet" href="/css/bg.css">
    <link rel="stylesheet" href="/css/likk.css">
    <link rel="stylesheet" href="/css/table.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/text-input.css">
    <title>DATA</title>
</head>
<body>

<form method="post">

    <div class="ren">
        <div class="nav-bar-course_1-semester_1">
            <div class="logo"><a href="#" class="defender">
                <ion-icon name="school-outline"></ion-icon>
                <a href="#"
                   class="student">[41KS]</a></a></div>

            <div class="nav-links">
                <ul>
                    <li>
                        <a class="activ-solo" href="">Успеваемость</a>
                    </li>
                    <li>
                        <a class="activ-solo"
                           href="http://localhost:8080/api/moderator/moderator_is_1_1/course_2/progressIS11">Посещаемость</a>
                    </li>
                </ul>
            </div>
        </div>
        <br/>
        <div class="main-tron-course_1-semester_1">
            <div class="col-xs-1-1">
                <div class="page-title">
                    <i class="md md-dashboard"></i> Успеваемость
                </div>
                <p>
                    <a href="http://localhost:8080/api/moderator/moderator_is_1_1/course_2/semester_1/september">
                        <input class="hidden-xs-control-label-m-t-20" type="button" value="1 Курс"/>
                    </a>

                    <a href="http://localhost:8080/api/moderator/moderator_is_1_1/course_2/semester_1/september">
                        <input class="hidden-xs-control-label-m-t-20" type="button" value="2 Курс"/>
                    </a>

                    <a href="http://localhost:8080/api/moderator/moderator_is_1_1/course_3/semester_1/september">
                        <input class="hidden-xs-control-label-m-t-20" type="button" value="3 Курс"/>
                    </a>
                    <a href="http://localhost:8080/api/moderator/moderator_is_1_1/course_4/semester_1/september">
                        <input class="hidden-xs-control-label-m-t-20" type="button" value="4 Курс"/>
                    </a>
                    <input class="hidden-xs-control-label-m-t-20" type="submit" value="Cохранить"/>
                </p>
            </div>
            <div class="col-xs-1-2">
                <div class="form-group-m-t-1">
                    <label class="hidden-xs col-sm-3 control-label m-t-10">
                        Семестр
                    </label>
                    <div class="col-sm-9 col-xs-12">
                        <div class="select-menu">
                            <div class="select-btn">
                                <span class="sBtn-text">1 семестр Сентябрь</span>
                                <i class="bx bx-chevron-down"></i>
                            </div>
                            <ul class="options">
                                <li class="option">
                                    <a href="http://localhost:8080/api/moderator/moderator_is_1_1/course_2/semester_1/september">
                                        <span class="option-text">1 семестр Сентябрь</span>
                                    </a>

                                </li>
                                <li class="option">
                                    <a href="http://localhost:8080/api/moderator/moderator_is_1_1/course_2/semester_1/october">
                                        <span class="option-text">1 семестр Октябрь</span>
                                    </a>
                                </li>
                                <li class="option">
                                    <a href="http://localhost:8080/api/moderator/moderator_is_1_1/course_2/semester_1/november">
                                        <span class="option-text">1 семестр Ноябрь</span>
                                    </a>
                                </li>
                                <li class="option">
                                    <a href="http://localhost:8080/api/moderator/moderator_is_1_1/course_2/semester_1/december">
                                        <span class="option-text">1 семестр Декабрь</span>
                                    </a>
                                </li>
                                <li class="option">
                                    <a href="http://localhost:8080/api/moderator/moderator_is_1_1/course_2/semester_1/special_grade">
                                        <span class="option-text">1 семестр Экзамены, и.т.д</span>
                                    </a>
                                </li>
                                <li class="option">
                                    <a href="http://localhost:8080/api/moderator/moderator_is_1_1/course_2/semester_2/january">
                                        <span class="option-text">2 семестр Январь</span>
                                    </a>
                                </li>
                                <li class="option">
                                    <a href="http://localhost:8080/api/moderator/moderator_is_1_1/course_2/semester_2/february">
                                        <span class="option-text">2 семестр Февраль</span>
                                    </a>
                                </li>
                                <li class="option">
                                    <a href="http://localhost:8080/api/moderator/moderator_is_1_1/course_2/semester_2/march">
                                        <span class="option-text">2 семестр Март</span>
                                    </a>
                                </li>
                                <li class="option">
                                    <a href="http://localhost:8080/api/moderator/moderator_is_1_1/course_2/semester_2/april">
                                        <span class="option-text">2 семестр Апрель</span>
                                    </a>
                                </li>
                                <li class="option">
                                    <a href="http://localhost:8080/api/moderator/moderator_is_1_1/course_2/semester_2/may">
                                        <span class="option-text">2 семестр Май</span>
                                    </a>
                                </li>
                                <li class="option">
                                    <a href="http://localhost:8080/api/moderator/moderator_is_1_1/course_2/semester_2/june">
                                        <span class="option-text">2 семестр Июнь</span>
                                    </a>
                                </li>
                                <li class="option">
                                    <a href="http://localhost:8080/api/moderator/moderator_is_1_1/course_2/semester_2/special_grade">
                                        <span class="option-text">2 семестр Экзамены, и.т.д</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="class-spisoc">
            <table class="table">
                <thead>
                <tr>
                    <th class="middle-align-one-lens">Студент</th>
                    <th class="text-center">Диф.зачет История</th>
                    <th class="text-center">Зачет Англ.язык</th>
                    <th class="text-center">Зачет ГНПРИТ</th>
                    <th class="text-center">Экзамен Элементы высшей математики</th>
                    <th class="text-center">Экзамен Дискретная математика</th>
                    <th class="text-center">Экзамен Операционные системы и среды</th>
                    <th class="text-center">Экзамен Компьютерные сети</th>
                </tr>
                </thead>
                <tbody>
                <!--                    user1-->
                <tr>
                    <td class="middle-align-one">
                        <input type="text" class="text-input-grade-user" required="required" id="user1Grades"
                               name="user1Grades"
                               placeholder="Инициалы" minlength="1">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user1Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="3">
                    </td>

                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user1Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user1Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user1Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user1Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user1Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user1Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>

                </tr>
                <!--                    user2-->
                <tr>
                    <td class="middle-align-one">
                        <input type="text" class="text-input-grade-user" required="required" name="user2Grades"
                               placeholder="Инициалы"
                               minlength="1">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user2Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user2Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user2Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user2Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user2Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user2Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user2Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>

                </tr>
                <!--                    user3-->
                <tr>
                    <td class="middle-align-one">
                        <input type="text" class="text-input-grade-user" required="required" name="user3Grades"
                               placeholder="Инициалы"
                               minlength="1">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user3Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user3Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user3Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user3Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user3Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user3Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user3Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                </tr>
                <!--                    user4-->
                <tr>
                    <td class="middle-align-one">
                        <input type="text" class="text-input-grade-user" required="required" name="user4Grades"
                               placeholder="Инициалы"
                               minlength="1">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user4Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user4Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user4Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user4Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user4Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user4Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user4Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                </tr>
                <!--                    user5-->
                <tr>
                    <td class="middle-align-one">
                        <input type="text" class="text-input-grade-user" required="required" name="user5Grades"
                               placeholder="Инициалы"
                               minlength="1">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user5Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user5Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user5Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user5Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user5Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user5Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user5Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                </tr>
                <!--                    user6-->
                <tr>
                    <td class="middle-align-one">
                        <input type="text" class="text-input-grade-user" required="required" name="user6Grades"
                               placeholder="Инициалы"
                               minlength="1">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user6Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user6Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user6Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user6Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user6Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user6Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user6Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                </tr>
                <!--                    user7-->
                <tr>
                    <td class="middle-align-one">
                        <input type="text" class="text-input-grade-user" required="required" name="user7Grades"
                               placeholder="Инициалы"
                               minlength="1">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user7Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user7Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user7Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user7Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user7Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user7Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user7Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                </tr>
                <!--                    user8-->
                <tr>
                    <td class="middle-align-one">
                        <input type="text" class="text-input-grade-user" required="required" name="user8Grades"
                               placeholder="Инициалы"
                               minlength="1">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user8Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user8Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user8Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user8Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user8Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user8Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user8Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                </tr>
                <!--                    user9-->
                <tr>
                    <td class="middle-align-one">
                        <input type="text" class="text-input-grade-user" required="required" name="user9Grades"
                               placeholder="Инициалы"
                               minlength="1">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user9Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user9Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user9Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user9Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user9Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user9Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user9Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                </tr>
                <!--                    user10-->
                <tr>
                    <td class="middle-align-one">
                        <input type="text" class="text-input-grade-user" required="required" name="user10Grades"
                               placeholder="Инициалы"
                               minlength="1">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user10Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user10Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user10Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user10Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user10Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user10Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user10Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                </tr>
                <!--                    user11-->
                <tr>
                    <td class="middle-align-one">
                        <input type="text" class="text-input-grade-user" required="required" name="user11Grades"
                               placeholder="Инициалы"
                               minlength="1">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user11Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user11Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user11Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user11Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user11Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user11Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user11Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                </tr>
                <!--                    user12-->
                <tr>
                    <td class="middle-align-one">
                        <input type="text" class="text-input-grade-user" required="required" name="user12Grades"
                               placeholder="Инициалы"
                               minlength="1">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user12Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user12Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user12Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user12Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user12Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user12Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user12Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                </tr>
                <!--                    user13-->
                <tr>
                    <td class="middle-align-one">
                        <input type="text" class="text-input-grade-user" required="required" name="user13Grades"
                               placeholder="Инициалы"
                               minlength="1">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user13Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user13Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user13Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user13Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user13Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user13Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user13Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                </tr>
                <!--                    user14-->
                <tr>
                    <td class="middle-align-one">
                        <input type="text" class="text-input-grade-user" required="required" name="user14Grades"
                               placeholder="Инициалы"
                               minlength="1">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user14Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user14Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user14Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user14Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user14Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user14Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user14Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                </tr>
                <!--                    user15-->
                <tr>
                    <td class="middle-align-one">
                        <input type="text" class="text-input-grade-user" required="required" name="user15Grades"
                               placeholder="Инициалы"
                               minlength="1">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user15Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user15Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user15Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user15Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user15Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user15Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user15Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                </tr>
                <!--                    user16-->
                <tr>
                    <td class="middle-align-one">
                        <input type="text" class="text-input-grade-user" required="required" name="user16Grades"
                               placeholder="Инициалы"
                               minlength="1">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user16Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user16Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user16Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user16Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user16Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user16Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                    <td class="text-center">
                        <input type="text" class="text-input-grade-user" required="required" name="user16Grades"
                               placeholder="Оцен"
                               minlength="1"
                               maxlength="3" size="2">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <footer></footer>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="/js/id.js"></script>
    <script>
        if (localStorage.getItem('month') !== null) {
            sBtn_text.innerText = localStorage.getItem('month')
        } else {
            localStorage.setItem("month", "1 семестр Сентябрь")
        }
    </script>
</form>
</body>

</html>
