<!DOCTYPE html>
<html lang="ru" xmlns:font-size="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,900;1,300;1,400;1,500;1,900&display=swap"
            rel="stylesheet">

    <link rel="stylesheet" href="/css/main.css">

    <link rel="stylesheet" href="/css/anim-class.css">

    <link rel="stylesheet" href="/css/bg.css">

    <link rel="stylesheet" href="/css/likk.css">

    <link rel="stylesheet" href="/css/table.css">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/text-input.css">

    <title>DATA</title>
</head>
<body>

<form method="post">
    <div class="ren">
        <div class="nav-bar-course_1-semester_1">
            <div class="logo">
                <ion-icon name="school-outline"></ion-icon>
                <h8 th:text="${groupName.get(0).inputGroup}"></h8>
            </div>

            <div class="nav-links">
                <ul>
                    <li>
                        <a class="activ-solo" href=""> Успеваемость</a>
                    </li>
                    <li>
                        <a class="activ-solo"
                           href="http://localhost:8080/api/students/is_1_1/course_1/progressIS11">
                            Посещаемость</a>
                    </li>
                </ul>
            </div>
        </div>
        <br/>
        <div class="main-tron-course_1-semester_1">
            <div class="col-xs-1-1">
                <div class="page-title">
                    <i class="md md-dashboard"> </i> Успеваемость
                </div>
                <p>
                    <a href="http://localhost:8080/api/students/is_1_1/course_1/semester_1/september">
                        <input class="hidden-xs-control-label-m-t-20" type="button" value="1 Курс"
                               onclick="localStorage.clear()"/>
                    </a>

                    <a href="">
                        <input class="hidden-xs-control-label-m-t-20" type="button" value="2 Курс"/>
                    </a>

                    <a href="http://localhost:8080/api/students/is_1_1/course_3/semester_1/september">
                        <input class="hidden-xs-control-label-m-t-20" type="button" value="3 Курс"
                               onclick="localStorage.clear()"/>
                    </a>
                    <a href="http://localhost:8080/api/students/is_1_1/course_4/semester_1/september">
                        <input class="hidden-xs-control-label-m-t-20" type="button" value="4 Курс"
                               onclick="localStorage.clear()"/>
                    </a>

                </p>
            </div>
            <div class="col-xs-1-2">
                <div class="form-group-m-t-1">
                    <label class="hidden-xs col-sm-3 control-label m-t-10">
                        Семестр
                    </label>
                    <div class="col-sm-9 col-xs-12">
                        <div class="select-menu">
                            <div class="select-btn">
                                <span class="sBtn-text"> 1 семестр Сентябрь</span>
                                <i class="bx bx-chevron-down"></i>
                            </div>
                            <ul class="options">
                                <li class="option">
                                    <a href="http://localhost:8080/api/students/is_1_1/course_2/semester_1/september">
                                        <span class="option-text"> 1 семестр Сентябрь</span>
                                    </a>

                                </li>
                                <li class="option">
                                    <a href="http://localhost:8080/api/students/is_1_1/course_2/semester_1/october">
                                        <span class="option-text"> 1 семестр Октябрь</span>
                                    </a>
                                </li>
                                <li class="option">
                                    <a href="http://localhost:8080/api/students/is_1_1/course_2/semester_1/november">
                                        <span class="option-text"> 1 семестр Ноябрь</span>
                                    </a>
                                </li>
                                <li class="option">
                                    <a href="http://localhost:8080/api/students/is_1_1/course_2/semester_1/december">
                                        <span class="option-text"> 1 семестр Декабрь</span>
                                    </a>
                                </li>
                                <li class="option">
                                    <a href="http://localhost:8080/api/students/is_1_1/course_2/semester_1/special_grade">
                                        <span class="option-text"> 1 семестр Экзамены, и.т.д</span>
                                    </a>
                                </li>
                                <li class="option">
                                    <a href="http://localhost:8080/api/students/is_1_1/course_2/semester_2/january">
                                        <span class="option-text"> 2 семестр Январь</span>
                                    </a>
                                </li>
                                <li class="option">
                                    <a href="http://localhost:8080/api/students/is_1_1/course_2/semester_2/february">
                                        <span class="option-text"> 2 семестр Февраль</span>
                                    </a>
                                </li>
                                <li class="option">
                                    <a href="http://localhost:8080/api/students/is_1_1/course_2/semester_2/march">
                                        <span class="option-text"> 2 семестр Март</span>
                                    </a>
                                </li>
                                <li class="option">
                                    <a href="http://localhost:8080/api/students/is_1_1/course_2/semester_2/april">
                                        <span class="option-text"> 2 семестр Апрель</span>
                                    </a>
                                </li>
                                <li class="option">
                                    <a href="http://localhost:8080/api/students/is_1_1/course_2/semester_2/may">
                                        <span class="option-text"> 2 семестр Май</span>
                                    </a>
                                </li>
                                <li class="option">
                                    <a href="http://localhost:8080/api/students/is_1_1/course_2/semester_2/june">
                                        <span class="option-text"> 2 семестр Июнь</span>
                                    </a>
                                </li>
                                <li class="option">
                                    <a href="http://localhost:8080/api/students/is_1_1/course_2/semester_2/special_grade">
                                        <span class="option-text"> 2 семестр Экзамены, и.т.д</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="class-spisoc">
            <table class="table">
                <thead>
                <tr>
                    <th class="middle-align-one-lens">№</th>
                    <th class="middle-align-one-lens">Студент</th>
                    <th class="text-center">Диф.зачет История</th>
                    <th class="text-center">Зачет Физкультура</th>
                    <th class="text-center">Зачет ГНПРИТ</th>
                    <th class="text-center">Экзамен Элементы высшей математики</th>
                    <th class="text-center">Экзамен Дискретная математика</th>
                    <th class="text-center">Экзамен Операционные системы и среды</th>
                    <th class="text-center">Экзамен Компьютерные сети</th>
                </tr>
                </thead>
                <tbody>
                <!--                    user1-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(0).getUserID()}"></td>

                    <td class="text-center" th:text="${post.get(0).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(0).getDifOffsetStory()}"></td>
                    <td class="text-center" th:text="${post.get(0).getOffsetPhysicalTraining}"></td>
                    <td class="text-center" th:text="${post.get(0).getOffsetGNPRIT()}"></td>
                    <td class="text-center" th:text="${post.get(0).getExamElementsOfHigherMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(0).getExamDiscreteMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(0).getExamOperatingSystemsAndEnvironments()}"></td>
                    <td class="text-center" th:text="${post.get(0).getExamComputerNetworks()}"></td>


                </tr>
                <!--                    user2-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(1).getUserID()}"></td>

                    <td class="text-center" th:text="${post.get(1).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(1).getDifOffsetStory()}"></td>
                    <td class="text-center" th:text="${post.get(1).getOffsetPhysicalTraining}"></td>
                    <td class="text-center" th:text="${post.get(1).getOffsetGNPRIT()}"></td>
                    <td class="text-center" th:text="${post.get(1).getExamElementsOfHigherMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(1).getExamDiscreteMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(1).getExamOperatingSystemsAndEnvironments()}"></td>
                    <td class="text-center" th:text="${post.get(1).getExamComputerNetworks()}"></td>


                </tr>
                <!--                    user3-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(2).getUserID()}"></td>

                    <td class="text-center" th:text="${post.get(2).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(2).getDifOffsetStory()}"></td>
                    <td class="text-center" th:text="${post.get(2).getOffsetPhysicalTraining}"></td>
                    <td class="text-center" th:text="${post.get(2).getOffsetGNPRIT()}"></td>
                    <td class="text-center" th:text="${post.get(2).getExamElementsOfHigherMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(2).getExamDiscreteMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(2).getExamOperatingSystemsAndEnvironments()}"></td>
                    <td class="text-center" th:text="${post.get(2).getExamComputerNetworks()}"></td>


                </tr>
                <!--                    user4-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(3).getUserID()}"></td>

                    <td class="text-center" th:text="${post.get(3).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(3).getDifOffsetStory()}"></td>
                    <td class="text-center" th:text="${post.get(3).getOffsetPhysicalTraining}"></td>
                    <td class="text-center" th:text="${post.get(3).getOffsetGNPRIT()}"></td>
                    <td class="text-center" th:text="${post.get(3).getExamElementsOfHigherMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(3).getExamDiscreteMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(3).getExamOperatingSystemsAndEnvironments()}"></td>
                    <td class="text-center" th:text="${post.get(3).getExamComputerNetworks()}"></td>


                </tr>
                <!--                    user5-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(4).getUserID()}"></td>

                    <td class="text-center" th:text="${post.get(4).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(4).getDifOffsetStory()}"></td>
                    <td class="text-center" th:text="${post.get(4).getOffsetPhysicalTraining}"></td>
                    <td class="text-center" th:text="${post.get(4).getOffsetGNPRIT()}"></td>
                    <td class="text-center" th:text="${post.get(4).getExamElementsOfHigherMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(4).getExamDiscreteMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(4).getExamOperatingSystemsAndEnvironments()}"></td>
                    <td class="text-center" th:text="${post.get(4).getExamComputerNetworks()}"></td>


                </tr>
                <!--                    user6-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(5).getUserID()}"></td>

                    <td class="text-center" th:text="${post.get(5).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(5).getDifOffsetStory()}"></td>
                    <td class="text-center" th:text="${post.get(5).getOffsetPhysicalTraining}"></td>
                    <td class="text-center" th:text="${post.get(5).getOffsetGNPRIT()}"></td>
                    <td class="text-center" th:text="${post.get(5).getExamElementsOfHigherMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(5).getExamDiscreteMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(5).getExamOperatingSystemsAndEnvironments()}"></td>
                    <td class="text-center" th:text="${post.get(5).getExamComputerNetworks()}"></td>


                </tr>
                <!--                    user7-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(6).getUserID()}"></td>

                    <td class="text-center" th:text="${post.get(6).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(6).getDifOffsetStory()}"></td>
                    <td class="text-center" th:text="${post.get(6).getOffsetPhysicalTraining}"></td>
                    <td class="text-center" th:text="${post.get(6).getOffsetGNPRIT()}"></td>
                    <td class="text-center" th:text="${post.get(6).getExamElementsOfHigherMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(6).getExamDiscreteMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(6).getExamOperatingSystemsAndEnvironments()}"></td>
                    <td class="text-center" th:text="${post.get(6).getExamComputerNetworks()}"></td>


                </tr>
                <!--                    user8-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(7).getUserID()}"></td>

                    <td class="text-center" th:text="${post.get(7).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(7).getDifOffsetStory()}"></td>
                    <td class="text-center" th:text="${post.get(7).getOffsetPhysicalTraining}"></td>
                    <td class="text-center" th:text="${post.get(7).getOffsetGNPRIT()}"></td>
                    <td class="text-center" th:text="${post.get(7).getExamElementsOfHigherMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(7).getExamDiscreteMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(7).getExamOperatingSystemsAndEnvironments()}"></td>
                    <td class="text-center" th:text="${post.get(7).getExamComputerNetworks()}"></td>


                </tr>
                <!--                    user9-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(8).getUserID()}"></td>

                    <td class="text-center" th:text="${post.get(8).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(8).getDifOffsetStory()}"></td>
                    <td class="text-center" th:text="${post.get(8).getOffsetPhysicalTraining}"></td>
                    <td class="text-center" th:text="${post.get(8).getOffsetGNPRIT()}"></td>
                    <td class="text-center" th:text="${post.get(8).getExamElementsOfHigherMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(8).getExamDiscreteMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(8).getExamOperatingSystemsAndEnvironments()}"></td>
                    <td class="text-center" th:text="${post.get(8).getExamComputerNetworks()}"></td>


                </tr>
                <!--                    user10-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(9).getUserID()}"></td>

                    <td class="text-center" th:text="${post.get(9).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(9).getDifOffsetStory()}"></td>
                    <td class="text-center" th:text="${post.get(9).getOffsetPhysicalTraining}"></td>
                    <td class="text-center" th:text="${post.get(9).getOffsetGNPRIT()}"></td>
                    <td class="text-center" th:text="${post.get(9).getExamElementsOfHigherMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(9).getExamDiscreteMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(9).getExamOperatingSystemsAndEnvironments()}"></td>
                    <td class="text-center" th:text="${post.get(9).getExamComputerNetworks()}"></td>


                </tr>
                <!--                    user11-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(10).getUserID()}"></td>

                    <td class="text-center" th:text="${post.get(10).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(10).getDifOffsetStory()}"></td>
                    <td class="text-center" th:text="${post.get(10).getOffsetPhysicalTraining}"></td>
                    <td class="text-center" th:text="${post.get(10).getOffsetGNPRIT()}"></td>
                    <td class="text-center" th:text="${post.get(10).getExamElementsOfHigherMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(10).getExamDiscreteMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(10).getExamOperatingSystemsAndEnvironments()}"></td>
                    <td class="text-center" th:text="${post.get(10).getExamComputerNetworks()}"></td>


                </tr>
                <!--                    user12-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(11).getUserID()}"></td>

                    <td class="text-center" th:text="${post.get(11).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(11).getDifOffsetStory()}"></td>
                    <td class="text-center" th:text="${post.get(11).getOffsetPhysicalTraining}"></td>
                    <td class="text-center" th:text="${post.get(11).getOffsetGNPRIT()}"></td>
                    <td class="text-center" th:text="${post.get(11).getExamElementsOfHigherMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(11).getExamDiscreteMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(11).getExamOperatingSystemsAndEnvironments()}"></td>
                    <td class="text-center" th:text="${post.get(11).getExamComputerNetworks()}"></td>


                </tr>
                <!--                    user13-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(12).getUserID()}"></td>

                    <td class="text-center" th:text="${post.get(12).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(12).getDifOffsetStory()}"></td>
                    <td class="text-center" th:text="${post.get(12).getOffsetPhysicalTraining}"></td>
                    <td class="text-center" th:text="${post.get(12).getOffsetGNPRIT()}"></td>
                    <td class="text-center" th:text="${post.get(12).getExamElementsOfHigherMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(12).getExamDiscreteMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(12).getExamOperatingSystemsAndEnvironments()}"></td>
                    <td class="text-center" th:text="${post.get(12).getExamComputerNetworks()}"></td>


                </tr>
                <!--                    user14-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(13).getUserID()}"></td>

                    <td class="text-center" th:text="${post.get(13).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(13).getDifOffsetStory()}"></td>
                    <td class="text-center" th:text="${post.get(13).getOffsetPhysicalTraining}"></td>
                    <td class="text-center" th:text="${post.get(13).getOffsetGNPRIT()}"></td>
                    <td class="text-center" th:text="${post.get(13).getExamElementsOfHigherMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(13).getExamDiscreteMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(13).getExamOperatingSystemsAndEnvironments()}"></td>
                    <td class="text-center" th:text="${post.get(13).getExamComputerNetworks()}"></td>


                </tr>
                <!--                    user15-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(14).getUserID()}"></td>

                    <td class="text-center" th:text="${post.get(14).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(14).getDifOffsetStory()}"></td>
                    <td class="text-center" th:text="${post.get(14).getOffsetPhysicalTraining}"></td>
                    <td class="text-center" th:text="${post.get(14).getOffsetGNPRIT()}"></td>
                    <td class="text-center" th:text="${post.get(14).getExamElementsOfHigherMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(14).getExamDiscreteMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(14).getExamOperatingSystemsAndEnvironments()}"></td>
                    <td class="text-center" th:text="${post.get(14).getExamComputerNetworks()}"></td>


                </tr>
                <!--                    user16-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(15).getUserID()}"></td>

                    <td class="text-center" th:text="${post.get(15).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(15).getDifOffsetStory()}"></td>
                    <td class="text-center" th:text="${post.get(15).getOffsetPhysicalTraining}"></td>
                    <td class="text-center" th:text="${post.get(15).getOffsetGNPRIT()}"></td>
                    <td class="text-center" th:text="${post.get(15).getExamElementsOfHigherMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(15).getExamDiscreteMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(15).getExamOperatingSystemsAndEnvironments()}"></td>
                    <td class="text-center" th:text="${post.get(15).getExamComputerNetworks()}"></td>


                </tr>
                <!--                    user17-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(16).getUserID()}"></td>

                    <td class="text-center" th:text="${post.get(16).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(16).getDifOffsetStory()}"></td>
                    <td class="text-center" th:text="${post.get(16).getOffsetPhysicalTraining}"></td>
                    <td class="text-center" th:text="${post.get(16).getOffsetGNPRIT()}"></td>
                    <td class="text-center" th:text="${post.get(16).getExamElementsOfHigherMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(16).getExamDiscreteMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(16).getExamOperatingSystemsAndEnvironments()}"></td>
                    <td class="text-center" th:text="${post.get(16).getExamComputerNetworks()}"></td>


                </tr>
                <!--                    user18-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(17).getUserID()}"></td>

                    <td class="text-center" th:text="${post.get(17).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(17).getDifOffsetStory()}"></td>
                    <td class="text-center" th:text="${post.get(17).getOffsetPhysicalTraining}"></td>
                    <td class="text-center" th:text="${post.get(17).getOffsetGNPRIT()}"></td>
                    <td class="text-center" th:text="${post.get(17).getExamElementsOfHigherMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(17).getExamDiscreteMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(17).getExamOperatingSystemsAndEnvironments()}"></td>
                    <td class="text-center" th:text="${post.get(17).getExamComputerNetworks()}"></td>


                </tr>
                <!--                    user19-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(18).getUserID()}"></td>

                    <td class="text-center" th:text="${post.get(18).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(18).getDifOffsetStory()}"></td>
                    <td class="text-center" th:text="${post.get(18).getOffsetPhysicalTraining}"></td>
                    <td class="text-center" th:text="${post.get(18).getOffsetGNPRIT()}"></td>
                    <td class="text-center" th:text="${post.get(18).getExamElementsOfHigherMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(18).getExamDiscreteMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(18).getExamOperatingSystemsAndEnvironments()}"></td>
                    <td class="text-center" th:text="${post.get(18).getExamComputerNetworks()}"></td>


                </tr>
                <!--                    user20-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(19).getUserID()}"></td>

                    <td class="text-center" th:text="${post.get(19).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(19).getDifOffsetStory()}"></td>
                    <td class="text-center" th:text="${post.get(19).getOffsetPhysicalTraining}"></td>
                    <td class="text-center" th:text="${post.get(19).getOffsetGNPRIT()}"></td>
                    <td class="text-center" th:text="${post.get(19).getExamElementsOfHigherMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(19).getExamDiscreteMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(19).getExamOperatingSystemsAndEnvironments()}"></td>
                    <td class="text-center" th:text="${post.get(19).getExamComputerNetworks()}"></td>


                </tr>
                <!--                    user21-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(20).getUserID()}"></td>

                    <td class="text-center" th:text="${post.get(20).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(20).getDifOffsetStory()}"></td>
                    <td class="text-center" th:text="${post.get(20).getOffsetPhysicalTraining}"></td>
                    <td class="text-center" th:text="${post.get(20).getOffsetGNPRIT()}"></td>
                    <td class="text-center" th:text="${post.get(20).getExamElementsOfHigherMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(20).getExamDiscreteMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(20).getExamOperatingSystemsAndEnvironments()}"></td>
                    <td class="text-center" th:text="${post.get(20).getExamComputerNetworks()}"></td>


                </tr>
                <!--                    user22-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(21).getUserID()}"></td>

                    <td class="text-center" th:text="${post.get(21).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(21).getDifOffsetStory()}"></td>
                    <td class="text-center" th:text="${post.get(21).getOffsetPhysicalTraining}"></td>
                    <td class="text-center" th:text="${post.get(21).getOffsetGNPRIT()}"></td>
                    <td class="text-center" th:text="${post.get(21).getExamElementsOfHigherMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(21).getExamDiscreteMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(21).getExamOperatingSystemsAndEnvironments()}"></td>
                    <td class="text-center" th:text="${post.get(21).getExamComputerNetworks()}"></td>


                </tr>
                <!--                    user23-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(22).getUserID()}"></td>

                    <td class="text-center" th:text="${post.get(22).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(22).getDifOffsetStory()}"></td>
                    <td class="text-center" th:text="${post.get(22).getOffsetPhysicalTraining}"></td>
                    <td class="text-center" th:text="${post.get(22).getOffsetGNPRIT()}"></td>
                    <td class="text-center" th:text="${post.get(22).getExamElementsOfHigherMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(22).getExamDiscreteMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(22).getExamOperatingSystemsAndEnvironments()}"></td>
                    <td class="text-center" th:text="${post.get(22).getExamComputerNetworks()}"></td>


                </tr>
                <!--                    user24-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(23).getUserID()}"></td>

                    <td class="text-center" th:text="${post.get(23).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(23).getDifOffsetStory()}"></td>
                    <td class="text-center" th:text="${post.get(23).getOffsetPhysicalTraining}"></td>
                    <td class="text-center" th:text="${post.get(23).getOffsetGNPRIT()}"></td>
                    <td class="text-center" th:text="${post.get(23).getExamElementsOfHigherMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(23).getExamDiscreteMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(23).getExamOperatingSystemsAndEnvironments()}"></td>
                    <td class="text-center" th:text="${post.get(23).getExamComputerNetworks()}"></td>


                </tr>
                <!--                    user25-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(24).getUserID()}"></td>

                    <td class="text-center" th:text="${post.get(24).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(24).getDifOffsetStory()}"></td>
                    <td class="text-center" th:text="${post.get(24).getOffsetPhysicalTraining}"></td>
                    <td class="text-center" th:text="${post.get(24).getOffsetGNPRIT()}"></td>
                    <td class="text-center" th:text="${post.get(24).getExamElementsOfHigherMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(24).getExamDiscreteMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(24).getExamOperatingSystemsAndEnvironments()}"></td>
                    <td class="text-center" th:text="${post.get(24).getExamComputerNetworks()}"></td>


                </tr>
                <!--                    user26-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(25).getUserID()}"></td>

                    <td class="text-center" th:text="${post.get(25).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(25).getDifOffsetStory()}"></td>
                    <td class="text-center" th:text="${post.get(25).getOffsetPhysicalTraining}"></td>
                    <td class="text-center" th:text="${post.get(25).getOffsetGNPRIT()}"></td>
                    <td class="text-center" th:text="${post.get(25).getExamElementsOfHigherMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(25).getExamDiscreteMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(25).getExamOperatingSystemsAndEnvironments()}"></td>
                    <td class="text-center" th:text="${post.get(25).getExamComputerNetworks()}"></td>


                </tr>
                <!--                    user27-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(26).getUserID()}"></td>

                    <td class="text-center" th:text="${post.get(26).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(26).getDifOffsetStory()}"></td>
                    <td class="text-center" th:text="${post.get(26).getOffsetPhysicalTraining}"></td>
                    <td class="text-center" th:text="${post.get(26).getOffsetGNPRIT()}"></td>
                    <td class="text-center" th:text="${post.get(26).getExamElementsOfHigherMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(26).getExamDiscreteMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(26).getExamOperatingSystemsAndEnvironments()}"></td>
                    <td class="text-center" th:text="${post.get(26).getExamComputerNetworks()}"></td>


                </tr>
                <!--                    user28-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(27).getUserID()}"></td>

                    <td class="text-center" th:text="${post.get(27).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(27).getDifOffsetStory()}"></td>
                    <td class="text-center" th:text="${post.get(27).getOffsetPhysicalTraining}"></td>
                    <td class="text-center" th:text="${post.get(27).getOffsetGNPRIT()}"></td>
                    <td class="text-center" th:text="${post.get(27).getExamElementsOfHigherMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(27).getExamDiscreteMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(27).getExamOperatingSystemsAndEnvironments()}"></td>
                    <td class="text-center" th:text="${post.get(27).getExamComputerNetworks()}"></td>


                </tr>
                <!--                    user29-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(28).getUserID()}"></td>

                    <td class="text-center" th:text="${post.get(28).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(28).getDifOffsetStory()}"></td>
                    <td class="text-center" th:text="${post.get(28).getOffsetPhysicalTraining}"></td>
                    <td class="text-center" th:text="${post.get(28).getOffsetGNPRIT()}"></td>
                    <td class="text-center" th:text="${post.get(28).getExamElementsOfHigherMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(28).getExamDiscreteMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(28).getExamOperatingSystemsAndEnvironments()}"></td>
                    <td class="text-center" th:text="${post.get(28).getExamComputerNetworks()}"></td>


                </tr>
                <!--                    user30-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(29).getUserID()}"></td>

                    <td class="text-center" th:text="${post.get(29).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(29).getDifOffsetStory()}"></td>
                    <td class="text-center" th:text="${post.get(29).getOffsetPhysicalTraining}"></td>
                    <td class="text-center" th:text="${post.get(29).getOffsetGNPRIT()}"></td>
                    <td class="text-center" th:text="${post.get(29).getExamElementsOfHigherMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(29).getExamDiscreteMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(29).getExamOperatingSystemsAndEnvironments()}"></td>
                    <td class="text-center" th:text="${post.get(29).getExamComputerNetworks()}"></td>


                </tr>
                <!--                    user31-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(30).getUserID()}"></td>

                    <td class="text-center" th:text="${post.get(30).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(30).getDifOffsetStory()}"></td>
                    <td class="text-center" th:text="${post.get(30).getOffsetPhysicalTraining}"></td>
                    <td class="text-center" th:text="${post.get(30).getOffsetGNPRIT()}"></td>
                    <td class="text-center" th:text="${post.get(30).getExamElementsOfHigherMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(30).getExamDiscreteMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(30).getExamOperatingSystemsAndEnvironments()}"></td>
                    <td class="text-center" th:text="${post.get(30).getExamComputerNetworks()}"></td>


                </tr>
                <!--                    user32-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(31).getUserID()}"></td>

                    <td class="text-center" th:text="${post.get(31).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(31).getDifOffsetStory()}"></td>
                    <td class="text-center" th:text="${post.get(31).getOffsetPhysicalTraining}"></td>
                    <td class="text-center" th:text="${post.get(31).getOffsetGNPRIT()}"></td>
                    <td class="text-center" th:text="${post.get(31).getExamElementsOfHigherMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(31).getExamDiscreteMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(31).getExamOperatingSystemsAndEnvironments()}"></td>
                    <td class="text-center" th:text="${post.get(31).getExamComputerNetworks()}"></td>


                </tr>
                <!--                    user33-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(32).getUserID()}"></td>

                    <td class="text-center" th:text="${post.get(32).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(32).getDifOffsetStory()}"></td>
                    <td class="text-center" th:text="${post.get(32).getOffsetPhysicalTraining}"></td>
                    <td class="text-center" th:text="${post.get(32).getOffsetGNPRIT()}"></td>
                    <td class="text-center" th:text="${post.get(32).getExamElementsOfHigherMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(32).getExamDiscreteMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(32).getExamOperatingSystemsAndEnvironments()}"></td>
                    <td class="text-center" th:text="${post.get(32).getExamComputerNetworks()}"></td>


                </tr>
                <!--                    user34-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(33).getUserID()}"></td>

                    <td class="text-center" th:text="${post.get(33).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(33).getDifOffsetStory()}"></td>
                    <td class="text-center" th:text="${post.get(33).getOffsetPhysicalTraining}"></td>
                    <td class="text-center" th:text="${post.get(33).getOffsetGNPRIT()}"></td>
                    <td class="text-center" th:text="${post.get(33).getExamElementsOfHigherMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(33).getExamDiscreteMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(33).getExamOperatingSystemsAndEnvironments()}"></td>
                    <td class="text-center" th:text="${post.get(33).getExamComputerNetworks()}"></td>


                </tr>
                <!--                    user35-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(34).getUserID()}"></td>

                    <td class="text-center" th:text="${post.get(34).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(34).getDifOffsetStory()}"></td>
                    <td class="text-center" th:text="${post.get(34).getOffsetPhysicalTraining}"></td>
                    <td class="text-center" th:text="${post.get(34).getOffsetGNPRIT()}"></td>
                    <td class="text-center" th:text="${post.get(34).getExamElementsOfHigherMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(34).getExamDiscreteMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(34).getExamOperatingSystemsAndEnvironments()}"></td>
                    <td class="text-center" th:text="${post.get(34).getExamComputerNetworks()}"></td>


                </tr>
                <!--                    user36-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(35).getUserID()}"></td>

                    <td class="text-center" th:text="${post.get(35).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(35).getDifOffsetStory()}"></td>
                    <td class="text-center" th:text="${post.get(35).getOffsetPhysicalTraining}"></td>
                    <td class="text-center" th:text="${post.get(35).getOffsetGNPRIT()}"></td>
                    <td class="text-center" th:text="${post.get(35).getExamElementsOfHigherMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(35).getExamDiscreteMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(35).getExamOperatingSystemsAndEnvironments()}"></td>
                    <td class="text-center" th:text="${post.get(35).getExamComputerNetworks()}"></td>


                </tr>
                <!--                    user37-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(36).getUserID()}"></td>

                    <td class="text-center" th:text="${post.get(36).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(36).getDifOffsetStory()}"></td>
                    <td class="text-center" th:text="${post.get(36).getOffsetPhysicalTraining}"></td>
                    <td class="text-center" th:text="${post.get(36).getOffsetGNPRIT()}"></td>
                    <td class="text-center" th:text="${post.get(36).getExamElementsOfHigherMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(36).getExamDiscreteMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(36).getExamOperatingSystemsAndEnvironments()}"></td>
                    <td class="text-center" th:text="${post.get(36).getExamComputerNetworks()}"></td>


                </tr>
                <!--                    user38-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(37).getUserID()}"></td>

                    <td class="text-center" th:text="${post.get(37).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(37).getDifOffsetStory()}"></td>
                    <td class="text-center" th:text="${post.get(37).getOffsetPhysicalTraining}"></td>
                    <td class="text-center" th:text="${post.get(37).getOffsetGNPRIT()}"></td>
                    <td class="text-center" th:text="${post.get(37).getExamElementsOfHigherMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(37).getExamDiscreteMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(37).getExamOperatingSystemsAndEnvironments()}"></td>
                    <td class="text-center" th:text="${post.get(37).getExamComputerNetworks()}"></td>


                </tr>
                <!--                    user39-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(38).getUserID()}"></td>

                    <td class="text-center" th:text="${post.get(38).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(38).getDifOffsetStory()}"></td>
                    <td class="text-center" th:text="${post.get(38).getOffsetPhysicalTraining}"></td>
                    <td class="text-center" th:text="${post.get(38).getOffsetGNPRIT()}"></td>
                    <td class="text-center" th:text="${post.get(38).getExamElementsOfHigherMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(38).getExamDiscreteMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(38).getExamOperatingSystemsAndEnvironments()}"></td>
                    <td class="text-center" th:text="${post.get(38).getExamComputerNetworks()}"></td>


                </tr>
                <!--                    user40-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(39).getUserID()}"></td>
                    <td class="text-center" th:text="${post.get(39).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(39).getDifOffsetStory()}"></td>
                    <td class="text-center" th:text="${post.get(39).getOffsetPhysicalTraining}"></td>
                    <td class="text-center" th:text="${post.get(39).getOffsetGNPRIT()}"></td>
                    <td class="text-center" th:text="${post.get(39).getExamElementsOfHigherMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(39).getExamDiscreteMathematics()}"></td>
                    <td class="text-center" th:text="${post.get(39).getExamOperatingSystemsAndEnvironments()}"></td>
                    <td class="text-center" th:text="${post.get(39).getExamComputerNetworks()}"></td>


                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="/js/id.js"></script>
    <script>
        if (localStorage.getItem('month') !== null && localStorage.getItem('month').length>5) {
            sBtn_text.innerText = localStorage.getItem('month')
        } else {
            localStorage.setItem("month", "1 семестр Сентябрь")
        }
    </script>
</form>
</body>

</html>
