<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="shortcut icon" href="#">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>
<body>

<form
        onsubmit="
async function getResult() {
  const response = await fetch('http://localhost:8080/api/auth/signin', {
method: 'POST',
headers: {
Accept: 'application/json, text/plain',
'Content-Type': 'application/json;charset=UTF-8',
},
body: JSON.stringify({
username: 'user',
password: '123',
}),
});
const data = await response.json();
console.log(data);
document.cookie = `${data.token}; path=/; Secure; HttpOnly`;
 console.log(document.cookie)

}

getResult();

return false;
">
    <input type="test" name="login"/><br>
    <input type="password" name="password"/><br>
    <input type="submit" value="Sign in"/>

</form>


<input type="button" value="controller" onclick="

async function getResultGet() {
  const response = await fetch('http://localhost:8080/api/test/user',{

    headers:{
        Authorization: `Bearer ${document.cookie}`
    }
})

console.log(document.cookie)
}
getResultGet()

">

</body>
</html>