<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <meta charget="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,900;1,300;1,400;1,500;1,900&display=swap"
            rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/anim-class.css">
    <link rel="stylesheet" href="/css/bg.css">
    <link rel="stylesheet" href="/css/likk.css">
    <link rel="stylesheet" href="/css/table.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/text-input.css">
    <title>DATA</title>
</head>
<body>

<form method="post">

    <div class="ren">
        <div class="nav-bar-course_1-semester_1">
            <div class="logo">
                <ion-icon name="school-outline"></ion-icon>
                <h8 th:text="${groupName.get(0).inputGroup}"></h8>
            </div>
            <div class="nav-links">
                <ul>
                    <li>
                        <a class="activ-solo" id="nas"
                           href="http://localhost:8080/api/students/is_1_1/course_1/semester_1/september">Успеваемость</a>
                    </li>
                    <li>
                        <a class="activ-solo">Посещаемость</a>
                    </li>
                </ul>
            </div>
        </div>
        <br/>
        <div class="main-tron-course_1-semester_1">
            <div class="col-xs-1-1">
                <div class="page-title">
                    <i class="md md-dashboard"></i> Посещаемость
                </div>
                <p>
                    <a href="http://localhost:8080/api/students/is_1_1/course_1/progressIS11">
                        <input class="hidden-xs-control-label-m-t-20" type="button" value="1 Курс"/>
                    </a>

                    <a href="http://localhost:8080/api/students/is_1_1/course_2/progressIS11">
                        <input class="hidden-xs-control-label-m-t-20" type="button" value="2 Курс"/>
                    </a>

                    <a href="http://localhost:8080/api/students/is_1_1/course_3/progressIS11">
                        <input class="hidden-xs-control-label-m-t-20" type="button" value="3 Курс"/>
                    </a>
                    <a href="http://localhost:8080/api/students/is_1_1/course_4/progressIS11">
                        <input class="hidden-xs-control-label-m-t-20" type="button" value="4 Курс"/>
                    </a>

                </p>
            </div>

        </div>
        <div class="class-spisoc">
            <table class="table">
                <thead>
                <tr>
                    <th class="middle-align-one-lens">№</th>
                    <th class="middle-align-one-lens">Студент</th>
                    <th class="text-center">Сентябрь</th>
                    <th class="text-center">Октябрь</th>
                    <th class="text-center">Ноябрь</th>
                    <th class="text-center">Декабрь</th>
                    <th class="text-center">Январь</th>
                    <th class="text-center">Февраль</th>
                    <th class="text-center">Март</th>
                    <th class="text-center">Апрель</th>
                    <th class="text-center">Май</th>
                    <th class="text-center">Июнь</th>

                </tr>
                </thead>
                <tbody>
                <!--                    user1-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(0).getUserID()}"></td>
                    <td class="text-center" th:text="${post.get(0).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(0).getPassSeptember()}"></td>
                    <td class="text-center" th:text="${post.get(0).getPassOctober()}"></td>
                    <td class="text-center" th:text="${post.get(0).getPassNovember()}"></td>
                    <td class="text-center" th:text="${post.get(0).getPassDecember()}"></td>
                    <td class="text-center" th:text="${post.get(0).getPassJanuary()}"></td>
                    <td class="text-center" th:text="${post.get(0).getPassFebruary()}"></td>
                    <td class="text-center" th:text="${post.get(0).getPassMarch()}"></td>
                    <td class="text-center" th:text="${post.get(0).getPassApril()}"></td>
                    <td class="text-center" th:text="${post.get(0).getPassMay()}"></td>
                    <td class="text-center" th:text="${post.get(0).getPassJune()}"></td>

                </tr>
                <!--                    user2-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(1).getUserID()}"></td>
                    <td class="text-center" th:text="${post.get(1).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(1).getPassSeptember()}"></td>
                    <td class="text-center" th:text="${post.get(1).getPassOctober()}"></td>
                    <td class="text-center" th:text="${post.get(1).getPassNovember()}"></td>
                    <td class="text-center" th:text="${post.get(1).getPassDecember()}"></td>
                    <td class="text-center" th:text="${post.get(1).getPassJanuary()}"></td>
                    <td class="text-center" th:text="${post.get(1).getPassFebruary()}"></td>
                    <td class="text-center" th:text="${post.get(1).getPassMarch()}"></td>
                    <td class="text-center" th:text="${post.get(1).getPassApril()}"></td>
                    <td class="text-center" th:text="${post.get(1).getPassMay()}"></td>
                    <td class="text-center" th:text="${post.get(1).getPassJune()}"></td>

                </tr>
                <!--                    user3-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(2).getUserID()}"></td>
                    <td class="text-center" th:text="${post.get(2).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(2).getPassSeptember()}"></td>
                    <td class="text-center" th:text="${post.get(2).getPassOctober()}"></td>
                    <td class="text-center" th:text="${post.get(2).getPassNovember()}"></td>
                    <td class="text-center" th:text="${post.get(2).getPassDecember()}"></td>
                    <td class="text-center" th:text="${post.get(2).getPassJanuary()}"></td>
                    <td class="text-center" th:text="${post.get(2).getPassFebruary()}"></td>
                    <td class="text-center" th:text="${post.get(2).getPassMarch()}"></td>
                    <td class="text-center" th:text="${post.get(2).getPassApril()}"></td>
                    <td class="text-center" th:text="${post.get(2).getPassMay()}"></td>
                    <td class="text-center" th:text="${post.get(2).getPassJune()}"></td>

                </tr>
                <!--                    user4-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(3).getUserID()}"></td>
                    <td class="text-center" th:text="${post.get(3).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(3).getPassSeptember()}"></td>
                    <td class="text-center" th:text="${post.get(3).getPassOctober()}"></td>
                    <td class="text-center" th:text="${post.get(3).getPassNovember()}"></td>
                    <td class="text-center" th:text="${post.get(3).getPassDecember()}"></td>
                    <td class="text-center" th:text="${post.get(3).getPassJanuary()}"></td>
                    <td class="text-center" th:text="${post.get(3).getPassFebruary()}"></td>
                    <td class="text-center" th:text="${post.get(3).getPassMarch()}"></td>
                    <td class="text-center" th:text="${post.get(3).getPassApril()}"></td>
                    <td class="text-center" th:text="${post.get(3).getPassMay()}"></td>
                    <td class="text-center" th:text="${post.get(3).getPassJune()}"></td>

                </tr>
                <!--                    user5-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(4).getUserID()}"></td>
                    <td class="text-center" th:text="${post.get(4).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(4).getPassSeptember()}"></td>
                    <td class="text-center" th:text="${post.get(4).getPassOctober()}"></td>
                    <td class="text-center" th:text="${post.get(4).getPassNovember()}"></td>
                    <td class="text-center" th:text="${post.get(4).getPassDecember()}"></td>
                    <td class="text-center" th:text="${post.get(4).getPassJanuary()}"></td>
                    <td class="text-center" th:text="${post.get(4).getPassFebruary()}"></td>
                    <td class="text-center" th:text="${post.get(4).getPassMarch()}"></td>
                    <td class="text-center" th:text="${post.get(4).getPassApril()}"></td>
                    <td class="text-center" th:text="${post.get(4).getPassMay()}"></td>
                    <td class="text-center" th:text="${post.get(4).getPassJune()}"></td>

                </tr>
                <!--                    user6-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(5).getUserID()}"></td>
                    <td class="text-center" th:text="${post.get(5).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(5).getPassSeptember()}"></td>
                    <td class="text-center" th:text="${post.get(5).getPassOctober()}"></td>
                    <td class="text-center" th:text="${post.get(5).getPassNovember()}"></td>
                    <td class="text-center" th:text="${post.get(5).getPassDecember()}"></td>
                    <td class="text-center" th:text="${post.get(5).getPassJanuary()}"></td>
                    <td class="text-center" th:text="${post.get(5).getPassFebruary()}"></td>
                    <td class="text-center" th:text="${post.get(5).getPassMarch()}"></td>
                    <td class="text-center" th:text="${post.get(5).getPassApril()}"></td>
                    <td class="text-center" th:text="${post.get(5).getPassMay()}"></td>
                    <td class="text-center" th:text="${post.get(5).getPassJune()}"></td>

                </tr>
                <!--                    user7-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(6).getUserID()}"></td>
                    <td class="text-center" th:text="${post.get(6).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(6).getPassSeptember()}"></td>
                    <td class="text-center" th:text="${post.get(6).getPassOctober()}"></td>
                    <td class="text-center" th:text="${post.get(6).getPassNovember()}"></td>
                    <td class="text-center" th:text="${post.get(6).getPassDecember()}"></td>
                    <td class="text-center" th:text="${post.get(6).getPassJanuary()}"></td>
                    <td class="text-center" th:text="${post.get(6).getPassFebruary()}"></td>
                    <td class="text-center" th:text="${post.get(6).getPassMarch()}"></td>
                    <td class="text-center" th:text="${post.get(6).getPassApril()}"></td>
                    <td class="text-center" th:text="${post.get(6).getPassMay()}"></td>
                    <td class="text-center" th:text="${post.get(6).getPassJune()}"></td>

                </tr>
                <!--                    user8-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(7).getUserID()}"></td>
                    <td class="text-center" th:text="${post.get(7).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(7).getPassSeptember()}"></td>
                    <td class="text-center" th:text="${post.get(7).getPassOctober()}"></td>
                    <td class="text-center" th:text="${post.get(7).getPassNovember()}"></td>
                    <td class="text-center" th:text="${post.get(7).getPassDecember()}"></td>
                    <td class="text-center" th:text="${post.get(7).getPassJanuary()}"></td>
                    <td class="text-center" th:text="${post.get(7).getPassFebruary()}"></td>
                    <td class="text-center" th:text="${post.get(7).getPassMarch()}"></td>
                    <td class="text-center" th:text="${post.get(7).getPassApril()}"></td>
                    <td class="text-center" th:text="${post.get(7).getPassMay()}"></td>
                    <td class="text-center" th:text="${post.get(7).getPassJune()}"></td>

                </tr>
                <!--                    user9-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(8).getUserID()}"></td>
                    <td class="text-center" th:text="${post.get(8).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(8).getPassSeptember()}"></td>
                    <td class="text-center" th:text="${post.get(8).getPassOctober()}"></td>
                    <td class="text-center" th:text="${post.get(8).getPassNovember()}"></td>
                    <td class="text-center" th:text="${post.get(8).getPassDecember()}"></td>
                    <td class="text-center" th:text="${post.get(8).getPassJanuary()}"></td>
                    <td class="text-center" th:text="${post.get(8).getPassFebruary()}"></td>
                    <td class="text-center" th:text="${post.get(8).getPassMarch()}"></td>
                    <td class="text-center" th:text="${post.get(8).getPassApril()}"></td>
                    <td class="text-center" th:text="${post.get(8).getPassMay()}"></td>
                    <td class="text-center" th:text="${post.get(8).getPassJune()}"></td>

                </tr>
                <!--                    user10-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(9).getUserID()}"></td>
                    <td class="text-center" th:text="${post.get(9).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(9).getPassSeptember()}"></td>
                    <td class="text-center" th:text="${post.get(9).getPassOctober()}"></td>
                    <td class="text-center" th:text="${post.get(9).getPassNovember()}"></td>
                    <td class="text-center" th:text="${post.get(9).getPassDecember()}"></td>
                    <td class="text-center" th:text="${post.get(9).getPassJanuary()}"></td>
                    <td class="text-center" th:text="${post.get(9).getPassFebruary()}"></td>
                    <td class="text-center" th:text="${post.get(9).getPassMarch()}"></td>
                    <td class="text-center" th:text="${post.get(9).getPassApril()}"></td>
                    <td class="text-center" th:text="${post.get(9).getPassMay()}"></td>
                    <td class="text-center" th:text="${post.get(9).getPassJune()}"></td>

                </tr>
                <!--                    user11-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(10).getUserID()}"></td>
                    <td class="text-center" th:text="${post.get(10).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(10).getPassSeptember()}"></td>
                    <td class="text-center" th:text="${post.get(10).getPassOctober()}"></td>
                    <td class="text-center" th:text="${post.get(10).getPassNovember()}"></td>
                    <td class="text-center" th:text="${post.get(10).getPassDecember()}"></td>
                    <td class="text-center" th:text="${post.get(10).getPassJanuary()}"></td>
                    <td class="text-center" th:text="${post.get(10).getPassFebruary()}"></td>
                    <td class="text-center" th:text="${post.get(10).getPassMarch()}"></td>
                    <td class="text-center" th:text="${post.get(10).getPassApril()}"></td>
                    <td class="text-center" th:text="${post.get(10).getPassMay()}"></td>
                    <td class="text-center" th:text="${post.get(10).getPassJune()}"></td>

                </tr>
                <!--                    user12-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(11).getUserID()}"></td>
                    <td class="text-center" th:text="${post.get(11).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(11).getPassSeptember()}"></td>
                    <td class="text-center" th:text="${post.get(11).getPassOctober()}"></td>
                    <td class="text-center" th:text="${post.get(11).getPassNovember()}"></td>
                    <td class="text-center" th:text="${post.get(11).getPassDecember()}"></td>
                    <td class="text-center" th:text="${post.get(11).getPassJanuary()}"></td>
                    <td class="text-center" th:text="${post.get(11).getPassFebruary()}"></td>
                    <td class="text-center" th:text="${post.get(11).getPassMarch()}"></td>
                    <td class="text-center" th:text="${post.get(11).getPassApril()}"></td>
                    <td class="text-center" th:text="${post.get(11).getPassMay()}"></td>
                    <td class="text-center" th:text="${post.get(11).getPassJune()}"></td>

                </tr>
                <!--                    user13-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(12).getUserID()}"></td>
                    <td class="text-center" th:text="${post.get(12).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(12).getPassSeptember()}"></td>
                    <td class="text-center" th:text="${post.get(12).getPassOctober()}"></td>
                    <td class="text-center" th:text="${post.get(12).getPassNovember()}"></td>
                    <td class="text-center" th:text="${post.get(12).getPassDecember()}"></td>
                    <td class="text-center" th:text="${post.get(12).getPassJanuary()}"></td>
                    <td class="text-center" th:text="${post.get(12).getPassFebruary()}"></td>
                    <td class="text-center" th:text="${post.get(12).getPassMarch()}"></td>
                    <td class="text-center" th:text="${post.get(12).getPassApril()}"></td>
                    <td class="text-center" th:text="${post.get(12).getPassMay()}"></td>
                    <td class="text-center" th:text="${post.get(12).getPassJune()}"></td>

                </tr>
                <!--                    user14-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(13).getUserID()}"></td>
                    <td class="text-center" th:text="${post.get(13).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(13).getPassSeptember()}"></td>
                    <td class="text-center" th:text="${post.get(13).getPassOctober()}"></td>
                    <td class="text-center" th:text="${post.get(13).getPassNovember()}"></td>
                    <td class="text-center" th:text="${post.get(13).getPassDecember()}"></td>
                    <td class="text-center" th:text="${post.get(13).getPassJanuary()}"></td>
                    <td class="text-center" th:text="${post.get(13).getPassFebruary()}"></td>
                    <td class="text-center" th:text="${post.get(13).getPassMarch()}"></td>
                    <td class="text-center" th:text="${post.get(13).getPassApril()}"></td>
                    <td class="text-center" th:text="${post.get(13).getPassMay()}"></td>
                    <td class="text-center" th:text="${post.get(13).getPassJune()}"></td>

                </tr>
                <!--                    user15-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(14).getUserID()}"></td>
                    <td class="text-center" th:text="${post.get(14).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(14).getPassSeptember()}"></td>
                    <td class="text-center" th:text="${post.get(14).getPassOctober()}"></td>
                    <td class="text-center" th:text="${post.get(14).getPassNovember()}"></td>
                    <td class="text-center" th:text="${post.get(14).getPassDecember()}"></td>
                    <td class="text-center" th:text="${post.get(14).getPassJanuary()}"></td>
                    <td class="text-center" th:text="${post.get(14).getPassFebruary()}"></td>
                    <td class="text-center" th:text="${post.get(14).getPassMarch()}"></td>
                    <td class="text-center" th:text="${post.get(14).getPassApril()}"></td>
                    <td class="text-center" th:text="${post.get(14).getPassMay()}"></td>
                    <td class="text-center" th:text="${post.get(14).getPassJune()}"></td>

                </tr>
                <!--                    user16-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(15).getUserID()}"></td>
                    <td class="text-center" th:text="${post.get(15).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(15).getPassSeptember()}"></td>
                    <td class="text-center" th:text="${post.get(15).getPassOctober()}"></td>
                    <td class="text-center" th:text="${post.get(15).getPassNovember()}"></td>
                    <td class="text-center" th:text="${post.get(15).getPassDecember()}"></td>
                    <td class="text-center" th:text="${post.get(15).getPassJanuary()}"></td>
                    <td class="text-center" th:text="${post.get(15).getPassFebruary()}"></td>
                    <td class="text-center" th:text="${post.get(15).getPassMarch()}"></td>
                    <td class="text-center" th:text="${post.get(15).getPassApril()}"></td>
                    <td class="text-center" th:text="${post.get(15).getPassMay()}"></td>
                    <td class="text-center" th:text="${post.get(15).getPassJune()}"></td>

                </tr>
                <!--                    user17-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(16).getUserID()}"></td>
                    <td class="text-center" th:text="${post.get(16).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(16).getPassSeptember()}"></td>
                    <td class="text-center" th:text="${post.get(16).getPassOctober()}"></td>
                    <td class="text-center" th:text="${post.get(16).getPassNovember()}"></td>
                    <td class="text-center" th:text="${post.get(16).getPassDecember()}"></td>
                    <td class="text-center" th:text="${post.get(16).getPassJanuary()}"></td>
                    <td class="text-center" th:text="${post.get(16).getPassFebruary()}"></td>
                    <td class="text-center" th:text="${post.get(16).getPassMarch()}"></td>
                    <td class="text-center" th:text="${post.get(16).getPassApril()}"></td>
                    <td class="text-center" th:text="${post.get(16).getPassMay()}"></td>
                    <td class="text-center" th:text="${post.get(16).getPassJune()}"></td>

                </tr>
                <!--                    user18-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(17).getUserID()}"></td>
                    <td class="text-center" th:text="${post.get(17).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(17).getPassSeptember()}"></td>
                    <td class="text-center" th:text="${post.get(17).getPassOctober()}"></td>
                    <td class="text-center" th:text="${post.get(17).getPassNovember()}"></td>
                    <td class="text-center" th:text="${post.get(17).getPassDecember()}"></td>
                    <td class="text-center" th:text="${post.get(17).getPassJanuary()}"></td>
                    <td class="text-center" th:text="${post.get(17).getPassFebruary()}"></td>
                    <td class="text-center" th:text="${post.get(17).getPassMarch()}"></td>
                    <td class="text-center" th:text="${post.get(17).getPassApril()}"></td>
                    <td class="text-center" th:text="${post.get(17).getPassMay()}"></td>
                    <td class="text-center" th:text="${post.get(17).getPassJune()}"></td>

                </tr>
                <!--                    user19-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(18).getUserID()}"></td>
                    <td class="text-center" th:text="${post.get(18).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(18).getPassSeptember()}"></td>
                    <td class="text-center" th:text="${post.get(18).getPassOctober()}"></td>
                    <td class="text-center" th:text="${post.get(18).getPassNovember()}"></td>
                    <td class="text-center" th:text="${post.get(18).getPassDecember()}"></td>
                    <td class="text-center" th:text="${post.get(18).getPassJanuary()}"></td>
                    <td class="text-center" th:text="${post.get(18).getPassFebruary()}"></td>
                    <td class="text-center" th:text="${post.get(18).getPassMarch()}"></td>
                    <td class="text-center" th:text="${post.get(18).getPassApril()}"></td>
                    <td class="text-center" th:text="${post.get(18).getPassMay()}"></td>
                    <td class="text-center" th:text="${post.get(18).getPassJune()}"></td>

                </tr>
                <!--                    user20-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(19).getUserID()}"></td>
                    <td class="text-center" th:text="${post.get(19).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(19).getPassSeptember()}"></td>
                    <td class="text-center" th:text="${post.get(19).getPassOctober()}"></td>
                    <td class="text-center" th:text="${post.get(19).getPassNovember()}"></td>
                    <td class="text-center" th:text="${post.get(19).getPassDecember()}"></td>
                    <td class="text-center" th:text="${post.get(19).getPassJanuary()}"></td>
                    <td class="text-center" th:text="${post.get(19).getPassFebruary()}"></td>
                    <td class="text-center" th:text="${post.get(19).getPassMarch()}"></td>
                    <td class="text-center" th:text="${post.get(19).getPassApril()}"></td>
                    <td class="text-center" th:text="${post.get(19).getPassMay()}"></td>
                    <td class="text-center" th:text="${post.get(19).getPassJune()}"></td>

                </tr>
                <!--                    user21-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(20).getUserID()}"></td>
                    <td class="text-center" th:text="${post.get(20).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(20).getPassSeptember()}"></td>
                    <td class="text-center" th:text="${post.get(20).getPassOctober()}"></td>
                    <td class="text-center" th:text="${post.get(20).getPassNovember()}"></td>
                    <td class="text-center" th:text="${post.get(20).getPassDecember()}"></td>
                    <td class="text-center" th:text="${post.get(20).getPassJanuary()}"></td>
                    <td class="text-center" th:text="${post.get(20).getPassFebruary()}"></td>
                    <td class="text-center" th:text="${post.get(20).getPassMarch()}"></td>
                    <td class="text-center" th:text="${post.get(20).getPassApril()}"></td>
                    <td class="text-center" th:text="${post.get(20).getPassMay()}"></td>
                    <td class="text-center" th:text="${post.get(20).getPassJune()}"></td>

                </tr>
                <!--                    user22-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(21).getUserID()}"></td>
                    <td class="text-center" th:text="${post.get(21).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(21).getPassSeptember()}"></td>
                    <td class="text-center" th:text="${post.get(21).getPassOctober()}"></td>
                    <td class="text-center" th:text="${post.get(21).getPassNovember()}"></td>
                    <td class="text-center" th:text="${post.get(21).getPassDecember()}"></td>
                    <td class="text-center" th:text="${post.get(21).getPassJanuary()}"></td>
                    <td class="text-center" th:text="${post.get(21).getPassFebruary()}"></td>
                    <td class="text-center" th:text="${post.get(21).getPassMarch()}"></td>
                    <td class="text-center" th:text="${post.get(21).getPassApril()}"></td>
                    <td class="text-center" th:text="${post.get(21).getPassMay()}"></td>
                    <td class="text-center" th:text="${post.get(21).getPassJune()}"></td>

                </tr>
                <!--                    user23-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(22).getUserID()}"></td>
                    <td class="text-center" th:text="${post.get(22).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(22).getPassSeptember()}"></td>
                    <td class="text-center" th:text="${post.get(22).getPassOctober()}"></td>
                    <td class="text-center" th:text="${post.get(22).getPassNovember()}"></td>
                    <td class="text-center" th:text="${post.get(22).getPassDecember()}"></td>
                    <td class="text-center" th:text="${post.get(22).getPassJanuary()}"></td>
                    <td class="text-center" th:text="${post.get(22).getPassFebruary()}"></td>
                    <td class="text-center" th:text="${post.get(22).getPassMarch()}"></td>
                    <td class="text-center" th:text="${post.get(22).getPassApril()}"></td>
                    <td class="text-center" th:text="${post.get(22).getPassMay()}"></td>
                    <td class="text-center" th:text="${post.get(22).getPassJune()}"></td>

                </tr>
                <!--                    user24-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(23).getUserID()}"></td>
                    <td class="text-center" th:text="${post.get(23).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(23).getPassSeptember()}"></td>
                    <td class="text-center" th:text="${post.get(23).getPassOctober()}"></td>
                    <td class="text-center" th:text="${post.get(23).getPassNovember()}"></td>
                    <td class="text-center" th:text="${post.get(23).getPassDecember()}"></td>
                    <td class="text-center" th:text="${post.get(23).getPassJanuary()}"></td>
                    <td class="text-center" th:text="${post.get(23).getPassFebruary()}"></td>
                    <td class="text-center" th:text="${post.get(23).getPassMarch()}"></td>
                    <td class="text-center" th:text="${post.get(23).getPassApril()}"></td>
                    <td class="text-center" th:text="${post.get(23).getPassMay()}"></td>
                    <td class="text-center" th:text="${post.get(23).getPassJune()}"></td>

                </tr>
                <!--                    user25-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(24).getUserID()}"></td>
                    <td class="text-center" th:text="${post.get(24).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(24).getPassSeptember()}"></td>
                    <td class="text-center" th:text="${post.get(24).getPassOctober()}"></td>
                    <td class="text-center" th:text="${post.get(24).getPassNovember()}"></td>
                    <td class="text-center" th:text="${post.get(24).getPassDecember()}"></td>
                    <td class="text-center" th:text="${post.get(24).getPassJanuary()}"></td>
                    <td class="text-center" th:text="${post.get(24).getPassFebruary()}"></td>
                    <td class="text-center" th:text="${post.get(24).getPassMarch()}"></td>
                    <td class="text-center" th:text="${post.get(24).getPassApril()}"></td>
                    <td class="text-center" th:text="${post.get(24).getPassMay()}"></td>
                    <td class="text-center" th:text="${post.get(24).getPassJune()}"></td>

                </tr>
                <!--                    user26-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(25).getUserID()}"></td>
                    <td class="text-center" th:text="${post.get(25).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(25).getPassSeptember()}"></td>
                    <td class="text-center" th:text="${post.get(25).getPassOctober()}"></td>
                    <td class="text-center" th:text="${post.get(25).getPassNovember()}"></td>
                    <td class="text-center" th:text="${post.get(25).getPassDecember()}"></td>
                    <td class="text-center" th:text="${post.get(25).getPassJanuary()}"></td>
                    <td class="text-center" th:text="${post.get(25).getPassFebruary()}"></td>
                    <td class="text-center" th:text="${post.get(25).getPassMarch()}"></td>
                    <td class="text-center" th:text="${post.get(25).getPassApril()}"></td>
                    <td class="text-center" th:text="${post.get(25).getPassMay()}"></td>
                    <td class="text-center" th:text="${post.get(25).getPassJune()}"></td>

                </tr>
                <!--                    user27-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(26).getUserID()}"></td>
                    <td class="text-center" th:text="${post.get(26).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(26).getPassSeptember()}"></td>
                    <td class="text-center" th:text="${post.get(26).getPassOctober()}"></td>
                    <td class="text-center" th:text="${post.get(26).getPassNovember()}"></td>
                    <td class="text-center" th:text="${post.get(26).getPassDecember()}"></td>
                    <td class="text-center" th:text="${post.get(26).getPassJanuary()}"></td>
                    <td class="text-center" th:text="${post.get(26).getPassFebruary()}"></td>
                    <td class="text-center" th:text="${post.get(26).getPassMarch()}"></td>
                    <td class="text-center" th:text="${post.get(26).getPassApril()}"></td>
                    <td class="text-center" th:text="${post.get(26).getPassMay()}"></td>
                    <td class="text-center" th:text="${post.get(26).getPassJune()}"></td>

                </tr>
                <!--                    user28-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(27).getUserID()}"></td>
                    <td class="text-center" th:text="${post.get(27).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(27).getPassSeptember()}"></td>
                    <td class="text-center" th:text="${post.get(27).getPassOctober()}"></td>
                    <td class="text-center" th:text="${post.get(27).getPassNovember()}"></td>
                    <td class="text-center" th:text="${post.get(27).getPassDecember()}"></td>
                    <td class="text-center" th:text="${post.get(27).getPassJanuary()}"></td>
                    <td class="text-center" th:text="${post.get(27).getPassFebruary()}"></td>
                    <td class="text-center" th:text="${post.get(27).getPassMarch()}"></td>
                    <td class="text-center" th:text="${post.get(27).getPassApril()}"></td>
                    <td class="text-center" th:text="${post.get(27).getPassMay()}"></td>
                    <td class="text-center" th:text="${post.get(27).getPassJune()}"></td>

                </tr>
                <!--                    user29-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(28).getUserID()}"></td>
                    <td class="text-center" th:text="${post.get(28).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(28).getPassSeptember()}"></td>
                    <td class="text-center" th:text="${post.get(28).getPassOctober()}"></td>
                    <td class="text-center" th:text="${post.get(28).getPassNovember()}"></td>
                    <td class="text-center" th:text="${post.get(28).getPassDecember()}"></td>
                    <td class="text-center" th:text="${post.get(28).getPassJanuary()}"></td>
                    <td class="text-center" th:text="${post.get(28).getPassFebruary()}"></td>
                    <td class="text-center" th:text="${post.get(28).getPassMarch()}"></td>
                    <td class="text-center" th:text="${post.get(28).getPassApril()}"></td>
                    <td class="text-center" th:text="${post.get(28).getPassMay()}"></td>
                    <td class="text-center" th:text="${post.get(28).getPassJune()}"></td>

                </tr>
                <!--                    user30-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(29).getUserID()}"></td>
                    <td class="text-center" th:text="${post.get(29).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(29).getPassSeptember()}"></td>
                    <td class="text-center" th:text="${post.get(29).getPassOctober()}"></td>
                    <td class="text-center" th:text="${post.get(29).getPassNovember()}"></td>
                    <td class="text-center" th:text="${post.get(29).getPassDecember()}"></td>
                    <td class="text-center" th:text="${post.get(29).getPassJanuary()}"></td>
                    <td class="text-center" th:text="${post.get(29).getPassFebruary()}"></td>
                    <td class="text-center" th:text="${post.get(29).getPassMarch()}"></td>
                    <td class="text-center" th:text="${post.get(29).getPassApril()}"></td>
                    <td class="text-center" th:text="${post.get(29).getPassMay()}"></td>
                    <td class="text-center" th:text="${post.get(29).getPassJune()}"></td>

                </tr>
                <!--                    user31-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(30).getUserID()}"></td>
                    <td class="text-center" th:text="${post.get(30).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(30).getPassSeptember()}"></td>
                    <td class="text-center" th:text="${post.get(30).getPassOctober()}"></td>
                    <td class="text-center" th:text="${post.get(30).getPassNovember()}"></td>
                    <td class="text-center" th:text="${post.get(30).getPassDecember()}"></td>
                    <td class="text-center" th:text="${post.get(30).getPassJanuary()}"></td>
                    <td class="text-center" th:text="${post.get(30).getPassFebruary()}"></td>
                    <td class="text-center" th:text="${post.get(30).getPassMarch()}"></td>
                    <td class="text-center" th:text="${post.get(30).getPassApril()}"></td>
                    <td class="text-center" th:text="${post.get(30).getPassMay()}"></td>
                    <td class="text-center" th:text="${post.get(30).getPassJune()}"></td>

                </tr>
                <!--                    user32-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(31).getUserID()}"></td>
                    <td class="text-center" th:text="${post.get(31).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(31).getPassSeptember()}"></td>
                    <td class="text-center" th:text="${post.get(31).getPassOctober()}"></td>
                    <td class="text-center" th:text="${post.get(31).getPassNovember()}"></td>
                    <td class="text-center" th:text="${post.get(31).getPassDecember()}"></td>
                    <td class="text-center" th:text="${post.get(31).getPassJanuary()}"></td>
                    <td class="text-center" th:text="${post.get(31).getPassFebruary()}"></td>
                    <td class="text-center" th:text="${post.get(31).getPassMarch()}"></td>
                    <td class="text-center" th:text="${post.get(31).getPassApril()}"></td>
                    <td class="text-center" th:text="${post.get(31).getPassMay()}"></td>
                    <td class="text-center" th:text="${post.get(31).getPassJune()}"></td>

                </tr>
                <!--                    user33-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(32).getUserID()}"></td>
                    <td class="text-center" th:text="${post.get(32).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(32).getPassSeptember()}"></td>
                    <td class="text-center" th:text="${post.get(32).getPassOctober()}"></td>
                    <td class="text-center" th:text="${post.get(32).getPassNovember()}"></td>
                    <td class="text-center" th:text="${post.get(32).getPassDecember()}"></td>
                    <td class="text-center" th:text="${post.get(32).getPassJanuary()}"></td>
                    <td class="text-center" th:text="${post.get(32).getPassFebruary()}"></td>
                    <td class="text-center" th:text="${post.get(32).getPassMarch()}"></td>
                    <td class="text-center" th:text="${post.get(32).getPassApril()}"></td>
                    <td class="text-center" th:text="${post.get(32).getPassMay()}"></td>
                    <td class="text-center" th:text="${post.get(32).getPassJune()}"></td>

                </tr>
                <!--                    user34-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(33).getUserID()}"></td>
                    <td class="text-center" th:text="${post.get(33).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(33).getPassSeptember()}"></td>
                    <td class="text-center" th:text="${post.get(33).getPassOctober()}"></td>
                    <td class="text-center" th:text="${post.get(33).getPassNovember()}"></td>
                    <td class="text-center" th:text="${post.get(33).getPassDecember()}"></td>
                    <td class="text-center" th:text="${post.get(33).getPassJanuary()}"></td>
                    <td class="text-center" th:text="${post.get(33).getPassFebruary()}"></td>
                    <td class="text-center" th:text="${post.get(33).getPassMarch()}"></td>
                    <td class="text-center" th:text="${post.get(33).getPassApril()}"></td>
                    <td class="text-center" th:text="${post.get(33).getPassMay()}"></td>
                    <td class="text-center" th:text="${post.get(33).getPassJune()}"></td>

                </tr>
                <!--                    user35-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(34).getUserID()}"></td>
                    <td class="text-center" th:text="${post.get(34).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(34).getPassSeptember()}"></td>
                    <td class="text-center" th:text="${post.get(34).getPassOctober()}"></td>
                    <td class="text-center" th:text="${post.get(34).getPassNovember()}"></td>
                    <td class="text-center" th:text="${post.get(34).getPassDecember()}"></td>
                    <td class="text-center" th:text="${post.get(34).getPassJanuary()}"></td>
                    <td class="text-center" th:text="${post.get(34).getPassFebruary()}"></td>
                    <td class="text-center" th:text="${post.get(34).getPassMarch()}"></td>
                    <td class="text-center" th:text="${post.get(34).getPassApril()}"></td>
                    <td class="text-center" th:text="${post.get(34).getPassMay()}"></td>
                    <td class="text-center" th:text="${post.get(34).getPassJune()}"></td>

                </tr>
                <!--                    user36-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(35).getUserID()}"></td>
                    <td class="text-center" th:text="${post.get(35).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(35).getPassSeptember()}"></td>
                    <td class="text-center" th:text="${post.get(35).getPassOctober()}"></td>
                    <td class="text-center" th:text="${post.get(35).getPassNovember()}"></td>
                    <td class="text-center" th:text="${post.get(35).getPassDecember()}"></td>
                    <td class="text-center" th:text="${post.get(35).getPassJanuary()}"></td>
                    <td class="text-center" th:text="${post.get(35).getPassFebruary()}"></td>
                    <td class="text-center" th:text="${post.get(35).getPassMarch()}"></td>
                    <td class="text-center" th:text="${post.get(35).getPassApril()}"></td>
                    <td class="text-center" th:text="${post.get(35).getPassMay()}"></td>
                    <td class="text-center" th:text="${post.get(35).getPassJune()}"></td>

                </tr>
                <!--                    user37-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(36).getUserID()}"></td>
                    <td class="text-center" th:text="${post.get(36).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(36).getPassSeptember()}"></td>
                    <td class="text-center" th:text="${post.get(36).getPassOctober()}"></td>
                    <td class="text-center" th:text="${post.get(36).getPassNovember()}"></td>
                    <td class="text-center" th:text="${post.get(36).getPassDecember()}"></td>
                    <td class="text-center" th:text="${post.get(36).getPassJanuary()}"></td>
                    <td class="text-center" th:text="${post.get(36).getPassFebruary()}"></td>
                    <td class="text-center" th:text="${post.get(36).getPassMarch()}"></td>
                    <td class="text-center" th:text="${post.get(36).getPassApril()}"></td>
                    <td class="text-center" th:text="${post.get(36).getPassMay()}"></td>
                    <td class="text-center" th:text="${post.get(36).getPassJune()}"></td>

                </tr>
                <!--                    user38-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(37).getUserID()}"></td>
                    <td class="text-center" th:text="${post.get(37).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(37).getPassSeptember()}"></td>
                    <td class="text-center" th:text="${post.get(37).getPassOctober()}"></td>
                    <td class="text-center" th:text="${post.get(37).getPassNovember()}"></td>
                    <td class="text-center" th:text="${post.get(37).getPassDecember()}"></td>
                    <td class="text-center" th:text="${post.get(37).getPassJanuary()}"></td>
                    <td class="text-center" th:text="${post.get(37).getPassFebruary()}"></td>
                    <td class="text-center" th:text="${post.get(37).getPassMarch()}"></td>
                    <td class="text-center" th:text="${post.get(37).getPassApril()}"></td>
                    <td class="text-center" th:text="${post.get(37).getPassMay()}"></td>
                    <td class="text-center" th:text="${post.get(37).getPassJune()}"></td>

                </tr>
                <!--                    user39-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(38).getUserID()}"></td>
                    <td class="text-center" th:text="${post.get(38).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(38).getPassSeptember()}"></td>
                    <td class="text-center" th:text="${post.get(38).getPassOctober()}"></td>
                    <td class="text-center" th:text="${post.get(38).getPassNovember()}"></td>
                    <td class="text-center" th:text="${post.get(38).getPassDecember()}"></td>
                    <td class="text-center" th:text="${post.get(38).getPassJanuary()}"></td>
                    <td class="text-center" th:text="${post.get(38).getPassFebruary()}"></td>
                    <td class="text-center" th:text="${post.get(38).getPassMarch()}"></td>
                    <td class="text-center" th:text="${post.get(38).getPassApril()}"></td>
                    <td class="text-center" th:text="${post.get(38).getPassMay()}"></td>
                    <td class="text-center" th:text="${post.get(38).getPassJune()}"></td>

                </tr>
                <!--                    user40-->
                <tr>
                    <td class="middle-align-one" th:text="${post.get(39).getUserID()}"></td>
                    <td class="text-center" th:text="${post.get(39).getUsername()}"></td>
                    <td class="text-center" th:text="${post.get(39).getPassSeptember()}"></td>
                    <td class="text-center" th:text="${post.get(39).getPassOctober()}"></td>
                    <td class="text-center" th:text="${post.get(39).getPassNovember()}"></td>
                    <td class="text-center" th:text="${post.get(39).getPassDecember()}"></td>
                    <td class="text-center" th:text="${post.get(39).getPassJanuary()}"></td>
                    <td class="text-center" th:text="${post.get(39).getPassFebruary()}"></td>
                    <td class="text-center" th:text="${post.get(39).getPassMarch()}"></td>
                    <td class="text-center" th:text="${post.get(39).getPassApril()}"></td>
                    <td class="text-center" th:text="${post.get(39).getPassMay()}"></td>
                    <td class="text-center" th:text="${post.get(39).getPassJune()}"></td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="/js/as1.js"></script>
    <script src="/js/as.js"></script>
</form>
</body>

</html>